<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paul.bs.mapper.GrabEmailTemplateImgMapper">
	
	<insert id="insert" parameterType="com.paul.bs.po.GrabEmailTemplateImg" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `grab_emailtemplate_img`(`url`,`name`,`createdId`,`createdTime`)value (#{url},#{name},#{createdId},#{createdTime})
	</insert>
	<select id="selectByid" resultType="com.paul.bs.po.GrabEmailTemplateImg" parameterType="int">
		SELECT *
			FROM `grab_emailtemplate_img` G
		WHERE G.id = #{id}
	</select>
	
</mapper>